[Unit]
Description=Datomic database

[Service]
ExecStart=/opt/datomic/current/bin/transactor -Xmx800m -Xms800m /opt/datomic/transactor.properties
WorkingDirectory=/opt/datomic/current/bin
PrivateTmp=true
User=datomic

[Install]
WantedBy=multi-user.target